.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.widget {
  max-width: 400px;
  min-width: 300px;
  margin: 5px 10px;
  cursor: pointer;
}

.loading-widget {
  max-width: 400px;
  min-width: 300px;
  width: 300px;
  margin: 5px 50px;
}

.content {
  display: flex;
  margin: 10px 20px;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.double-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.specific-content {
  flex: 1;
  margin: 10px 5px;
  padding: 20px 0px;
}

.general-content {
  flex: 2;
}

.even-content {
  flex: 1;
}

.widget-container {
  padding: 5px 20px;
}

.general-widget {
  margin: 5px 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 32px;
  background: white;
  margin: 16px;
}

.charts {
  padding: 20px;
}

.background-white {
  background-color: white;
}

.background-silver {
  background-color: #D9D9DB !important;
}

.health-outer {
  position: relative;
}

.health-outer .health-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.legend {
  font-size: 24px;
  font-weight: 600;
}

.percent-legend {
  text-align: center;
}

.text-legend {
  font-size: 16px;
}

.margin-right {
  margin-right: 10px;
}

.text-justify {
  text-align: justify;
}

.margin-bottom {
  margin-bottom: 10px;
}

.tip {
  background-color: whitesmoke;
  padding: 30px;
}

.setting {
  margin-bottom: 30px;
}